@model List<Hethongnongsan.Models.Forum>
@{
    ViewBag.Title = "addForum";
    Layout = "~/Views/Shared/Headerpage.cshtml";
    ViewBag.idnguoidung = Request.Cookies["nguoidung"]?.Value.Replace("=", "");
}
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="~/App_Start/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="/Home/Index">Home</a>
                            </li>

                            @{ if (@ViewBag.idnguoidung != null)
                                {
                                    <li><a href="/Products/Detail/@ViewBag.idnguoidung">Giỏ hàng</a></li>
                                    <li> <a href="/Shops/Index/@ViewBag.idnguoidung">Cửa hàng của bạn</a></li>
                                    <li> <a href="/Profilesuser/Index/@ViewBag.idnguoidung">Hồ sơ</a></li>


                                    <li class="current-list-item"><a href="/Forum/addForum">blogs</a></li>
                                    if (ViewBag.shop != null)
                                    {
                                        <li><a href="/ManagementShop/Index/@ViewBag.idnguoidung">Quản lý kho</a></li>
                                    }
                                    if (@ViewBag.idnguoidung == "1")
                                    {
                                        <li><a href="/Admin/Index">ADMIN</a></li>
                                    }

                                    <li><a href="/Login/out">log out</a></li>
                                }
                                else
                                {
                                    <li>
                                        <div class="fas fa-user" id="login-btn"><a href="/Login/Index" style="text-decoration: none;">Đăng nhập</a></div>
                                    </li>

                                }
                            }

                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Get 24/7 Support</p>
                    <h1>Blogs</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:200px;text-align:center;">
    @if (ViewBag.idnguoidung == "1")
    {
        <h2>Nhập nội dung bài đăng</h2>
        <form action="/Forum/addForum/" method="post" enctype="multipart/form-data">
            <label for="context">Nội dung:</label><br>
            <textarea id="context" style="border-radius:20px" name="context" rows="4" cols="50" required></textarea><br><br>
            <input type="file" name="imageFile" style="width:100%; margin-left:550px; text-align:center;" required />
            <input type="submit" style="border-radius:20px; padding:10px; margin-top:10px" value="Đăng bài">
        </form>
    }
    else
    {
        <h1> Diễn đàng</h1>
    }
    @{ foreach (var Item in Model)
        {
            if (ViewBag.idnguoidung == "1")
            {
                <div style="margin-bottom:10px">
                    <div>
                        <div>

                        </div>
                    </div>
                    <div style="border:1px solid #000000; margin-top:20px;margin-left:100px; width:1300px;border-radius:10px;background-color:white;">
                            <div style="margin-left: 10px; margin-top: 10px; color: black;font-weight:900">
                                <div style="text-align:left">
                                    <div>Admin đã đăng vào lúc @Item.Ngaydang</div>

                                </div>
                                <div>
                                    <a href="/Forum/editForum/@Item.Iddiendang"
                                       style="text-decoration: none; color: #333; padding: 5px 10px; border: 1px solid #333; border-radius: 5px;">Chỉnh sửa</a>
                                    <a href="/Forum/deleteForum/@Item.Iddiendang"
                                       style="text-decoration: none; color: #333; padding: 5px 10px; border: 1px solid #333; border-radius: 5px;">Xóa bài đăng</a>
                                </div>
                                <div style="padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; text-align: left; color: black; font-weight: 900; border-bottom:1px solid #000000 ">
                                    @Item.Context
                                </div>
                                <img style="width:500px;padding:10px" src="~/imgforum/@Item.Img" />
                                                           </div>
                    </div>
                </div>
            }
            else
            {
                <div style="margin-bottom:10px">
                    <div>
                        <div>

                        </div>
                    </div>
                    <div style="border:1px solid #000000; margin-top:20px;margin-left:100px; width:1300px;border-radius:10px;background-color:white;">
                        <div style="margin-left: 10px; margin-top: 10px; color: black;font-weight:900">
                            <div style="text-align:left">
                                <div>Admin đã đăng vào lúc @Item.Ngaydang</div>

                            </div>
                            <div style="padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; text-align: left; color: black; font-weight: 900; border-bottom:1px solid #000000 ">
                                @Item.Context
                            </div>
                            <img style="width:500px;padding:10px" src="~/imgforum/@Item.Img" />
                            
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

