@model Hethongnongsan.Models.Nguoidung
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Headerpage.cshtml";
    ViewBag.idnguoidung = Request.Cookies["nguoidung"]?.Value.Replace("=", "");
}
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="~/App_Start/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="/Home/Index">Home</a>
                            </li>

                            @{ if (@ViewBag.idnguoidung != null)
                                {
                                    <li><a href="/Products/Detail/@ViewBag.idnguoidung">Giỏ hàng</a></li>
                                    <li> <a href="/Shops/Index/@ViewBag.idnguoidung">Cửa hàng của bạn</a></li>
                                    <li class="current-list-item"> <a href="/Profilesuser/Index/@ViewBag.idnguoidung">Hồ sơ</a></li>


                                    <li><a href="/Forum/addForum">blogs</a></li>
                                    if (ViewBag.shop != null)
                                    {
                                        <li><a href="/ManagementShop/Index/@ViewBag.idnguoidung">Quản lý kho</a></li>
                                    }
                                    if (@ViewBag.idnguoidung == "1")
                                    {
                                        <li><a href="/Admin/Index">ADMIN</a></li>
                                    }
                                    <li><a href="/Login/out">log out</a></li>
                                }
                                else
                                {
                                    <li>
                                        <div class="fas fa-user" id="login-btn"><a href="/Login/Index" style="text-decoration: none;">Đăng nhập</a></div>
                                    </li>

                                }
                            }




                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Get 24/7 Support</p>
                    <h1>Hồ sơ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
            <div class="media-left pr30">
                <a href="#">
                    <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                </a>
            </div>
            <div class="media-body va-m">
                <h2 class="media-heading" style="text-align:center; margin-top:100px">
                    @Model.TaiKhoan
                </h2>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="panel-title"> User Popularity</span>
                </div>
                <div class="panel-body pn">
                    <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                        <thead>
                            <tr class="hidden">
                                <th class="mw30">#</th>
                                <th>Ten nguoi dung</th>
                                <th>Ngay sinh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="fa fa-desktop text-warning"></span>
                                </td>
                                <td>@Model.Tennguoidung</td>
                                <td>
                                    <i class="fa fa-caret-up text-info pr10"></i>@Model.Ngaysinh
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-microphone text-primary"></span>
                                </td>
                                <td>Gioi tinh</td>
                                <td>
                                    <i class="fa fa-caret-down text-danger pr10"></i>So dien thoai
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-newspaper-o text-info"></span>
                                </td>
                                <td>@Model.Gioitinh</td>
                                <td>
                                    <i class="fa fa-caret-up text-info pr10"></i>@Model.Sodienthoai
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fa fa-newspaper-o text-info"></span>
                                </td>
                                <td> <a href="/Profilesuser/Updateprofiles/@ViewBag.idnguoidung" style="color: black;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Edit</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="col-md-8">

            <div class="tab-block">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <div href="#tab1" data-toggle="tab" style="font-size:20px;font-weight:800">Lịch sử mua hàng</div>
                    </li>

                </ul>
                <div class="tab-content p30" style="height: 730px;">
                    <div id="tab1" class="tab-pane active">


                        <div class="media mt25">
                            <div style="width: 100%; margin-bottom: 100px; background-color: white; padding: 20px;">
                                <table style="width: 100%; border-collapse: collapse; color:black">
                                    <thead>
                                        <tr>
                                            <th style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f2f2f2; align-content: center; justify-content: center">Sản Phấm</th>
                                            @*<th style="padding: 8px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f2f2f2; ">Người Mua</th>*@
                                            <th style="padding: 8px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f2f2f2; ">Số lượng</th>
                                            <th style="padding: 8px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f2f2f2; ">Tới địa chỉ</th>
                                            <th style="padding: 8px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f2f2f2;">Ngày đặt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.SanPhamn != null)
                                            {
                                                int i = 0;
                                                foreach (var item in ViewBag.SanPhamn)
                                                {
                                                    <tr style="width: 100%; border-collapse: collapse; color:black">
                                                        <td style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd;">
                                                            @ViewBag.SanPhamn[i].Tensanpham
                                                        </td>
                                                        @*  <td style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd;">
                                                                @ViewBag.Nguoimua[0].Tennguoidung
                                                            </td>*@

                                                        <td style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd;">
                                                            @ViewBag.Shopcart[i].Soluong
                                                        </td>
                                                        <td style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd;">
                                                            @ViewBag.Shopcart[i].Diemden
                                                        </td>
                                                        <td style=" padding: 8px; text-align: center; border-bottom: 1px solid #ddd;">
                                                            @ViewBag.Shopcart[i].Ngaymua
                                                        </td>
                                                    </tr>
                                                    i++;

                                                }
                                            }
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane"></div>
                    <div id="tab3" class="tab-pane"></div>
                    <div id="tab4" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</section>

