
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";


}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="./index.html">
            <img src="~/App_Start/form-20/images/187039.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ni ni-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
           
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="./index.html">
                            <img src="./assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
           
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item  active ">
                    <a class="nav-link  active " href="/Admin/Index">
                        <i class="ni ni-tv-2 text-primary"></i> Doanh thu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Admin/nguoidung">
                        <i class="ni ni-planet text-blue"></i> Người dùng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Admin/Shop">
                        <i class="ni ni-active-40 text-blue"></i> Shops
                    </a>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3">
            
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/allshop">
                        <i class="ni ni-spaceship"></i> Tất cả các shop
                    </a>
                </li>
                
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active active-pro">
                    <a class="nav-link" href="/Home/Index">
                        <i class="ni ni-send text-dark"></i>Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Dashboard</a>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                          
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">Admin</span>
                            </div>
                        </div>
                    </a>
                   
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng người sử dụng</h5>
                                        @{
                                            if (@ViewBag.nguoidung != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.nguoidung</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng doanh thu 1 năm</h5>
                                        @{
                                            if (@ViewBag.tongdoanhthu != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.tongdoanhthu.000 VND</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }
                                        
                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Shop bán nhiều nhất</h5>
                                        @{
                                            if (@ViewBag.idshoptop.Tenshop != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.idshoptop.Tenshop</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Sản phẩm bán chạy nhất</h5>
                                        @{
                                            if (@ViewBag.idsanphamtop.Tensanpham != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0"> @ViewBag.idsanphamtop.Tensanpham</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }
                
                                    </div>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div  style="width:100%">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                                <h2 class="text-white mb-0">Sales value</h2>
                            </div>
                            <div class="col">
                                <ul class="nav nav-pills justify-content-end">
                                    @{
                                        if (@ViewBag.idsanphamtop.Tensanpham != null)
                                        {
                                                                        <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[@ViewBag.thang1, @ViewBag.thang2, @ViewBag.thang3, @ViewBag.thang4, @ViewBag.thang5, @ViewBag.thang6, @ViewBag.thang7, @ViewBag.thang8, @ViewBag.thang9]}]}}' data-prefix="" data-suffix="K VND">
                                                                            <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                                                                <span class="d-none d-md-block">Month</span>
                                                                                <span class="d-md-none">M</span>
                                                                            </a>
                                                                        </li>
                                        }
                                        else
                                        {
                                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0,0,0,0,0,0,0,0]}]}}' data-prefix="" data-suffix="K VND">
                                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                        <span class="d-none d-md-block">Month</span>
                                        <span class="d-md-none">M</span>
                                    </a>
                                </li>
                                        }
                                    }
                                    

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="chart-sales" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
               
            </div>
        </footer>
    </div>
</div>