@model List<Hethongnongsan.Models.Shop>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="./index.html">
            <img src="~/App_Start/form-20/images/187039.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ni ni-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="~/App_Start/form-20/images/pngtree-beautiful-admin-roles-glyph-vector-icon-png-image_2002847.jpg">
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a href="./examples/profile.html" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <a href="./examples/profile.html" class="dropdown-item">
                        <i class="ni ni-settings-gear-65"></i>
                        <span>Settings</span>
                    </a>
                    <a href="./examples/profile.html" class="dropdown-item">
                        <i class="ni ni-calendar-grid-58"></i>
                        <span>Activity</span>
                    </a>
                    <a href="./examples/profile.html" class="dropdown-item">
                        <i class="ni ni-support-16"></i>
                        <span>Support</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#!" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="./index.html">
                            <img src="./assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link   " href="/Admin/Index">
                        <i class="ni ni-tv-2 text-blue"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/nguoidung">
                        <i class="ni ni-planet text-primary"></i> Người dùng
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="/Admin/Shop">
                        <i class="ni ni-active-40 text-blue"></i> Shops
                    </a>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/allshop">
                        <i class="ni ni-spaceship"></i> Tất cả các shop
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active active-pro">
                    <a class="nav-link" href="/Home/Index">
                        <i class="ni ni-send text-dark"></i> Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Shops</a>
            <!-- Form -->
           
            <!-- User -->
            <!--<ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                                           <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">

                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">Admin</span>
                            </div>
                        </div>
                    </a>

                </li>
            </ul>-->
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng người sử dụng</h5>
                                        @{
                                            if (@ViewBag.nguoidung != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.nguoidung</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng doanh thu 1 năm</h5>
                                        @{
                                            if (@ViewBag.tongdoanhthu != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.tongdoanhthu.000 VND</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Shop bán nhiều nhất</h5>
                                        @{
                                            if (@ViewBag.idshoptop.Tenshop != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0">@ViewBag.idshoptop.Tenshop</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Sản phẩm bán chạy nhất</h5>
                                        @{
                                            if (@ViewBag.idsanphamtop.Tensanpham != null)
                                            {
                                                <span class="h2 font-weight-bold mb-0"> @ViewBag.idsanphamtop.Tensanpham</span>
                                            }
                                            else
                                            {
                                                <span class="h2 font-weight-bold mb-0">0</span>
                                            }
                                        }

                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="" style="width:100%">


                <div style="margin-top: 200px;margin-bottom:100px; background-color:white; padding: 20px;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <thead>
                            <tr style="background-color: #f2f2f2;">
                                <th style="padding: 10px; border: 1px solid #ddd;">Tên Shop</th>
                                <th style="padding: 10px; border: 1px solid #ddd;">Ngày thành lập</th>
                                <th style="padding: 10px; border: 1px solid #ddd;">Địa chỉ</th>
                                <th style="padding: 10px; border: 1px solid #ddd;">Email</th>
                                <th style="padding: 10px; border: 1px solid #ddd;">Facebook</th>
                                <th style="padding: 10px; border: 1px solid #ddd;">Instagram</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr style="border: 1px solid #ddd;">
                                        <td style="padding: 10px;">@item.Tenshop</td>
                                        <td style="padding: 10px;">@item.Ngaythanhlap</td>
                                        <td style="padding: 10px;">@item.Diachi</td>
                                        <td style="padding: 10px;">@item.Email</td>
                                        <td style="padding: 10px;">@item.Facebook</td>
                                        <td style="padding: 10px;">@item.Instagram</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">

                    </div>
                </div>
            </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>