@model Hethongnongsan.Models.Sanpham
@{
    ViewBag.Title = "Editpro";
    Layout = "~/Views/Shared/Headerpage.cshtml";
    ViewBag.idnguoidung = Request.Cookies["nguoidung"]?.Value.Replace("=", "");
}

@*<form action="/Supply/Editpro/@ViewBag.idnguoidung" method="post" style="margin-top: 100px; margin-left: 650px; margin-bottom: 100px;" enctype="multipart/form-data">
        <input type="hidden" name="Idshop" value="@Model.Idshop" />
        <input type="hidden" name="Idsanpham" value="@Model.Idsanpham" />
        <div style="margin-bottom: 10px;">
            <label for="Tensanpham" style="width: 100px; display: inline-block;">Tên sản phẩm</label>
            <input type="text" name="Tensanpham" value="@Model.Tensanpham" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" required />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Tenloai" style="width: 100px; display: inline-block;">Tên loại</label>
            <input type="text" name="Tenloai" value="@Model.Tenloai" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" required />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Gioithieu" style="width: 100px; display: inline-block;">Giới thiệu</label>
            <input type="text" name="Gioithieu" value="@Model.Gioithieu" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" required />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Gia" style="width: 100px; display: inline-block;">Giá</label>
            <input type="text" name="Gia" value="@Model.Gia" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" required />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="imageFile" style="width: 100px; display: inline-block;">Link ảnh</label>
            <input type="file" name="imageFile" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="nameimg" style="width: 100px; display: inline-block;">Tên ảnh</label>
            <input type="text" name="nameimg" class="form-control" style="width: 200px; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px;" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Lưu sửa đổi</button>
    </form>*@
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="~/App_Start/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="/Home/Index">Home</a>
                            </li>

                            @{ if (@ViewBag.idnguoidung != null)
                                {
                                    <li><a href="/Products/Detail/@ViewBag.idnguoidung">Giỏ hàng</a></li>
                                    <li class="current-list-item"> <a href="/Shops/Index/@ViewBag.idnguoidung">Cửa hàng của bạn</a></li>
                                    <li> <a href="/Profilesuser/Index/@ViewBag.idnguoidung">Hồ sơ</a></li>


                                    <li><a href="/Forum/addForum">blogs</a></li>
                                    if (ViewBag.shop != null)
                                    {
                                        <li><a href="/ManagementShop/Index/@ViewBag.idnguoidung">Quản lý kho</a></li>
                                    }
                                    if (@ViewBag.idnguoidung == "1")
                                    {
                                        <li><a href="/Admin/Index">ADMIN</a></li>
                                    }

                                    <li><a href="/Login/out">log out</a></li>
                                }
                                else
                                {
                                    <li>
                                        <div class="fas fa-user" id="login-btn"><a href="/Login/Index" style="text-decoration: none;">Đăng nhập</a></div>
                                    </li>

                                }
                            }




                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Get 24/7 Support</p>
                    <h1>Sửa Sản Phẩm</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    @*                   <h2>Have you any question?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ratione! Laboriosam est, assumenda. Perferendis, quo alias quaerat aliquid. Corporis ipsum minus voluptate? Dolore, esse natus!</p>
                    *@
                </div>
                <div id="form_status"></div>
                <div class="contact-form">
                    <form action="/Supply/Editpro/@ViewBag.idnguoidung" method="post" enctype="multipart/form-data" id="fruitkha-contact" onSubmit="return valid_datas( this );">
                        <input type="hidden" name="Idshop" value="@Model.Idshop" />
                        <input type="hidden" name="Idsanpham" value="@Model.Idsanpham" />
                        <p>
                            <input type="text" placeholder="Tên shop" value="@Model.Tensanpham" name="Tensanpham" id="name" required>
                            <input type="text" placeholder="Ngày thành lập" value="@Model.Tenloai" name="Tenloai" id="email" required>
                        </p>
                        <p>
                            <input type="text" placeholder="Giới thiệu" value="@Model.Gioithieu" name="Gioithieu" id="phone" required>
                            <input type="text" placeholder="Địa chỉ" value="@Model.Gia" name="Gia" id="subject">
                        </p>
                        <p>
                            <input type="tel" placeholder="Tên ảnh" name="nameimg" id="phone" required>
                            <input placeholder="Email" type="file" name="imageFile" id="subject" onchange="checks()" required>
                        </p>

                        <p><input type="submit" value="Submit"></p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>